# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
# Sass cache
.sass-cache
.DS_Store
compass_app_log.txt

# Directory for containing a dump of the old sites files.
old/
