
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

 /*
 * Header
 */

#views-exposed-form-search-api-nodes-default {
	width: 95%;
	right: 0px;
	padding: 0 10px;
	box-sizing: border-box;
        height: 56px;
}
.block-content div div #views-exposed-form-search-api-nodes-default
{
    padding: 0 0px !important;
}
.branch-selector form {
    left: 0!important;
}
.views-exposed-form .views-exposed-widget {
    display: unset;
}
.views-reset-button {
    position: relative;
    font-size: 180%;
    opacity: 0.5;
    left: 93%;
    top: -39px;
}
#views-exposed-form-search-api-nodes-default .views-submit-button{
    display:none;
}
.branch-selector .views-submit-button
{
    display:inline-block !important;
}
input[type="submit"]:not(.field-add-more-submit):hover{
    background-color: unset;
}
.panel-2col-stacked .panel-col-last{
    width: 100%;
    overflow: visible !important;
}
.page-licens div div div .view-centralbibliotek-license .views-row .center-wrapper .panel-col-last{
    margin-left: 0px;
}
.page-licens div div div .view-centralbibliotek-license .views-row .panel-col-first{
    margin: -23px 0 0 -46px !important;
}
