.node-type-news {

  .field-label {
    font-family: $alt-font;
    @extend .pane-title;
  }

  .pane-node-created {
    .block-content {
      position: relative;
      margin-top: -50px;
      background-color: rgba(0, 0, 0, 0.4);
      @extend %date;
      display: block;

      .field-item {
        color: $white;
      }
    }
  }
}
