.node-type-license {

  .node-license {
    padding-left: 0px;
    padding-right: 0px;

    .panel-display {
      margin-top: 20px;
    }

    .pane-node-field-address h2 {
      margin-bottom: 15px;
    }
  }

  .panels-ipe-portlet-wrapper {
    margin-bottom: 0.1em;
  }

  .pane-entity-field {
    margin: 0;

    .field-label-inline {
      margin: 0.5em 0;
    }
  }
}
