%button-submit {
  border: 0;
  background: $brand-primary;
  color: $white !important;
  display: inline-block;
  margin: 0 .75em .75em 0;
  padding: .7em 1.5em;
  text-align: center;
  border-radius: 1px;
  position: relative;
  vertical-align: top;
  letter-spacing: -.01em;
  line-height: 1;
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;

  -webkit-transition: background-color 150ms ease;
  -moz-transition: background-color 150ms ease;
  -o-transition: background-color 150ms ease;
  transition: background-color 150ms ease;

  // When hovered
  &:hover{
    color: #fff;
    background: $brand-primary-light;
    cursor: pointer;
    outline: none;
    text-decoration: none;
  }

  // When in focus
  &:focus {
    color: #fff;
    background: $brand-primary-light;
    outline: none;
  }
}


%button-light {
  @extend %button-submit;
  background: $gray-light;
  color: $gray-dark;

  &:hover{
    color: $gray-dark;
    background: darken($gray-light, 5%);
  }

  &:focus {
    color: $gray-dark;
    background: darken($gray-light, 5%);
  }
}


%button-large {
  font-size: 1.25em;
}


.pager-load-more a, input[type=submit] {
  @extend %button-submit;
  border-radius: 40px;
  padding: 15px 25px;
  margin: 50px 0px;
}