%date {
  font-family: $condensed-font;
  background: $gray-darker;
  letter-spacing: 1px;
  color: #fff;
  display: inline-block;
  padding: .4em .5em;
  line-height: 1;
  text-transform: uppercase;
}