@mixin menu-primary($modifier: "") {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      list-style-image: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      margin-right: 1.5em;
      font-size: 1.15em;

      a {
        color: $gray-darker;
        display: block;
        &:hover,
        &:focus {
          text-decoration: none;
          color: $gray-darkest;
          box-shadow: inset 0 -3px 0 0 darken($gray-light, 20%);
        }
      }

      &.ui-state-active a,
      &.active-trail a {
        box-shadow: inset 0 -3px 0 0 $gray-darkest;
        color: $gray-darkest;
        padding-bottom: .4em;
      }
    }
  }

  @if $modifier == "sub" {
    ul li {
      background-color: $gray-light;
      padding: 0.5rem;
      font-size: 1em;
      margin-right: 1em;
    }
  }

  /*@if $modifier == "sub" {
    ul li {
      margin-right: 1em;
      font-size: 1em;
      background-color: red;
      a {
        margin: 0 0.5em;
        padding: .7em 1em;
        display: inline-block;
        border: none;
        background-color: $gray-light;
        &,
        span {
          color: $gray-darkest;
        }
        &:hover {
          background-color: $gray-light;
          color: $tab_text_hover;
          text-decoration: underline;
        }
      }
      &.active a {
        position: relative;
        background-color: $tab_active_text;
        border: none;
        text-decoration: none;
        &,
        &:hover {
          background-color: $tab_active_text;
          color: #ffffff;
        }
        &,
        &:after {
          border-color: $tab_active_text transparent transparent;
        }
        &,
        span {
          //color: $tab_active_text;
        }
      }
      &.active{ // active li-element itself
        background-color: $tab_active_text;
      }

    }
  }*/
}
