/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
.branch-selector #views-exposed-form-search-api-nodes-default {
  padding: 0 10px;
}

.view-search-api-nodes .views-exposed-widgets .views-reset-button {
  right: 4%;
}

.panel-2col-stacked .panel-col-last {
  width: 100%;
  overflow: visible !important;
}

/*.fix_me_select{
    right: 15% !important;
}
#views-exposed-form-search-api-nodes-default div:nth-child(2)
{
   left: 66% !important;
   bottom: 60px !important;
}
*/
