/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/*
* Header
*/
#views-exposed-form-search-api-nodes-default {
  width: 100%;
  right: 0px;
  padding: 0 10px;
  box-sizing: border-box;
}

.branch-selector form {
  left: 0 !important;
}

.views-exposed-form .views-exposed-widget {
  display: unset;
}

.views-reset-button {
  position: relative;
  font-size: 180%;
  opacity: 0.5;
  left: 63%;
  top: -39px;
}

#edit-submit-search-api-arrangementer {
  display: inline-block !important;
}
