/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
.branch-selector #views-exposed-form-search-api-nodes-default {
  width: 95%;
  padding: 0 10px;
}

#views-exposed-form-search-api-nodes-default div:nth-child(2) {
  bottom: 71px !important;
}

.panel-2col-stacked .panel-col-last {
  width: 100%;
  overflow: visible !important;
}
