#footer {
  margin: 0;
  border: 0;
  background: $gray-darkest;
  font-size: .9em;

  .region-footer {
    padding: 0 10px;
  }
}

// Footer menu
#block-menu-menu-footer-menu {
  margin-bottom: 0;
  padding: 2em 0 1.65em;

  .block-title {display: none;}

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 1.5em;
    margin-bottom: .45em;
  }

  a {
    color: #fff;
  }
}