// Placeholder text
::-webkit-input-placeholder {
   color: whitesmoke;
}

:-moz-placeholder { /* Firefox 18- */
   color: whitesmoke;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: whitesmoke;  
}

:-ms-input-placeholder {  
   color: whitesmoke;  
}