.cb-teaser-list,
.page-taxonomy-term {
  .view-filters {
    input[type="text"] {
      background-color: rgba(0,0,0,0) !important;
      border: 0px;
      height: 50px;
      border-bottom: 2px solid $gray-darker;
      font-family: $base-font;
      font-size: 20px;
      padding-left: 0px;
    }

    input:-moz-placeholder {
      color: lighten($light_gray,20%);
    }

    input:-ms-input-placeholder {
      color: lighten($light_gray,20%);
    }

    input::-moz-placeholder {
      color: lighten($light_gray,20%);
    }

    input::-webkit-input-placeholder {
      color: lighten($light_gray,20%);
    }
  }

  .row-type-event:before, .node-content-type-event:before {
    display: none !important; // hide default calendar event icon
  }

  .node-teaser {
    h2 a {
      color: $gray-darker;
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 5px;
    }

    .panel-col-first {
      width: 330px;

      @include respond(small-medium) {
        width: 100%;
      }

      .inside {
        background-image: url(../images/no-image.jpg);
        background-size: 100%;
        background-position: center;
        min-height: 170px;
        position: relative;
        max-width: 330px;
      }

      .pane-node-created, .pane-node-field-date {
        position: absolute;
        bottom: 0;
        background-color: rgba(0,0,0,0.4);
        @extend %date;
        display: block;

        .field-item {
          color: $white;
        }
      }

      .pane-node-created, .pane-cbib-time-and-location {
        position: absolute;
        bottom: 0;
        background-color: rgba(0,0,0,0.4);
        @extend %date;
        display: inline-block;

        .field-item {
          color: $white;
        }
      }

      img {
        min-height: 170px;
        max-height: 170px;
      }
    }

    figure {
      line-height: 0px;
    }

    .pane-node-field-group-logo .field-name-field-group-logo a {
      border: none;
      box-shadow: none;
      border-radius: none;
      -webkit-border-radius: none;
      -moz-border-radius: none;
      -ms-border-radius: none;
      -o-border-radius: none;
    }

    .panel-pane, .field-name-body, h2  {
      margin: 0px;
    }

    .links a {
      font-family: $alt-font;
    }

    .panel-pane.pane-node-og-group-ref {
      float: left;
    }
  }

.node-teaser:not(.node-centralbibliotek) {

    // if there are lots of breaks in summary this will force it to be low anyway
    .center-wrapper .panel-col-last{
      max-height: 170px;
      //min-height: 170px;
      overflow: hidden;
      margin-bottom: 30px;

      //target height of body as well
//      .pane-node-body{
//        max-height: 44px;
//        min-height: 44px;
//        overflow: hidden;
//        margin-bottom: 20px;
//      }

    }

    &:after {
      content: "";
      width: 25px;
      height: 64px;
      background-size: 25px 64px;
      background-image: url(../images/icons/region-arrow.png);
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -32px;

      @include respond(small-medium) {
        display: none;
      }
    }
  }
}

/** Hide subtitle in views for group pages **/

.page-panels {
  &.page-node-events, &.page-node-news, &.page-node-groups, &.page-events, &.page-news, &.page-groups, &.page-license {
    h2.pane-title {
      display: none;
    }
  }
}

/** Style List title links **/
.front,
.pane-centralbibliotek-news-panel-pane-3,
.pane-commons-events-upcoming-panel-pane-3,
.pane-commons-groups-directory-panel-pane-2 {
  h2.pane-title a{
    color: #000000;

    &:hover{
      color:$brand-primary;
    }
  }
}

/*List title*/
.front{
  h2.pane-title {
    font-size: 2em;
  }
}

.node-type-centralbibliotek:not(.node-license),
.front {
  .panel-col-first,
  .views-row {
    display: inline-block;
    max-width: 302px;
    vertical-align: top;
    border-bottom: none;

    .panel-col-bottom {
      display: none;
    }
  }


  .more-link {
    //display: none;
    text-align: right;
    margin:0px;

  }

  .cb-teaser-list {
    h2 a {
      font-size: 1.1em;
    }

    .node-teaser {
      .center-wrapper {
        .panel-col-last {
          max-height: none;
          min-height: 0;
          width: 100%;
          margin-bottom: 0;

          .inside {
            margin: 0;
          }

          //add padding-right to body, to make it easier to read
          .pane-node-body{
            padding-right: 10%;
          }
        }
      }

      &:after {
        display: none;
      }
    }
  }

  .region-two-66-33-second {
    .views-row {
      display: block;
      padding-bottom: 0;
    }
  }
}


// License news list
.panel-pane.pane-centralbibliotek-license-panel-pane-5{
  border-bottom: 1px solid $gray-light;

  .views-row{
    .panel-col-bottom{
      display: none;
    }
  }
}

.page-licens div div div, .page-node-127{
  .view-centralbibliotek-license .views-row {

    margin-bottom: 0;
    padding-bottom: 0;


    .panel-col-first{
      //width: 100%;
      @include transform(scale(0.7));
      margin: -23px 0 0 -50px;

      //adjust date, because of the scale
      .pane-node-created{
        @include transform(scale(1.4));
        bottom: 5px;
        left: 17px;
      }
    }

    .center-wrapper .panel-col-last{
      margin-left: -50px; // to make background-image fit too
      margin-bottom: 5px;
    }

    .panel-col-bottom{
      margin-bottom: 50px;
    }


    .node-teaser{
      padding: 25px 0 0;//!important;

      .panel-display{
        margin-left:0px;
      }

    }
  }
}

