// "List of attendees" panel (as seen on an event)

.pane-node-followers-panel-pane-1,
.pane-commons-events-event-attendee-list-panel-pane-1, // Logged out
#panels-ipe-paneid-4 { // Logged in

  .block-content {
    padding-top: .2em;
  }

  
  .view-commons-events-event-attendee-list {
    background-color: transparent;
  }

  .views-view-grid td {
    padding: 0;
  }

  .views-field-picture {
    @extend %user-avatar;
    float: left;
    width: 24px;
    margin-right: .55em;
  }

  .views-field-name {
    height: 24px;
    line-height: 1.9;
  }
  
  // Space out the list of attendees
  .views-view-grid td {
    padding-bottom: .5em;
    display: block;
    // in order to also work in IE
    float: left;
    width: 100%;
    overflow: hidden;
  }

}//#panels-ipe-paneid-4
