.oc-comments-new-reply-wrap ,.oc-comments-new-edit-wrap,.oc-comments-new-delete-wrap
{
    
position: relative;
    bottom: 7px;
    float: right;
}
.comment-delete,.comment-edit,.comment-delete
{
    float:right;
}
.oc_new_post_btn
{
    float:right;
}
.node-post .node-content .field-name-body .field-items .field-item
{
    white-space: pre-wrap;
}
.comment-form 
{
    float:left;
}
.group-medie .fieldset-wrapper .field-name-field-media
{
    margin-top:10px;
    border-bottom: 1px solid lightgray;
}
.group-medie .fieldset-wrapper .field-name-field-media h2
{
    border-bottom: 1px solid lightgray;
}
.group-medie .fieldset-wrapper .field-type-link-field div div table
{
    border-color: transparent;   
}
.group-medie .fieldset-wrapper .field-type-link-field div div .field-multiple-table  tr
{
    background-color: white;
    
}
.group-medie .fieldset-wrapper .field-type-link-field div div .field-multiple-table  tr th label{
     padding-left:5px;
     font-size:1.25em;
     font-weight: bold;
}
.group-medie .fieldset-wrapper .field-type-link-field div div .field-multiple-table 
{
    margin-bottom:10px;
}