.page-user .page {
  background: transparent;
}

.panel-cb-user {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

/* sm */
@media (min-width: 640px) {
  .panel-cb-user {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .panel-col-info {
    grid-column: span 1 / span 1;
  }
  .panel-col-middle-left {
    grid-column: 1 / span 1;
  }
}

/* md */
@media (min-width: 768px) {
  .panel-cb-user {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .panel-col-info {
    grid-column: span 2 / span 2;
  }
  .panel-col-middle-left {
    grid-column: 1 / span 2;
  }
}

/* lg */
@media (min-width: 1024px) {
  .panel-cb-user {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .panel-col-info {
    grid-column: span 3 / span 3;
  }
  .panel-col-top-right {
    grid-column: span 2 / span 2;
  }
  .panel-col-middle-left {
    grid-column: 1 / span 3;
  }
}

.card {
  background-color: white !important;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  padding: 1rem;
}

.user-button {
  border-radius: 1rem;
  background-color: #edf2f7;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.panel-col-top-right {
  display: flex;
  flex-direction: column;
}

.panel-col-middle-left {
  background-color: white !important;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  padding: 1rem;
}

.panel-col-middle-left > div > div > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(3, minmax(225px, 1fr));
  gap: 1rem
}

.pane-user-picture img {
  width: 12rem;
  height: 12rem;
  border-radius: 9999px;
}

.pane-user-picture .block-content {
  display: flex;
  justify-content: space-around;
}

.pane-user-name .block-content {
  font-size: 1.875rem;
  text-align: center;
}

.page-user #recommender {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.page-user #recommender-heading {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
}

/* tables */

.page-user .view-min-side-access-log thead, .page-user .view-min-side-f-lger thead {
  display: none;
}

.page-user .view-min-side-access-log tbody, .page-user .view-min-side-f-lger tbody {
  border-color: white;
}

.page-user .view-min-side-access-log tr, .page-user .view-min-side-f-lger tr {
  border-color: white;
}

/* adjustment */

.page-user .view-min-side-access-log th:nth-child(2) {
  display: none;
}

.page-user .view-min-side-access-log tr td:nth-child(2) {
  display: none;
}

.page-user .item-list-pager ul.pager {
  padding-top: 0px;
  border-top: 0px;
}

.page-user .print_html {
  display: none;
}

.panel-col-middle-right {
  display: none;
}

/* reset */

.page-user .pane-user-picture {
  float: none !important;
  margin-left: 0 !important;
}

.page-user .pane-user-picture .user-picture {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-radius: 0px !important;
}

.pane-title {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.panel-pane {
  margin-bottom: 1rem !important;
}

.flag-commons-follow-user a {
  display: block !important;
}

html body div div div .item-list-pager ul.pager-load-more li.pager-next a {
  background-color: #edf2f7 !important;
  color: #383838 !important;
}
