%divider-left {
  border-left: 1px solid darken($light_blue, 3%);
  @include box-shadow(darken($dark_blue, 13%) -1px 0px 0px);
}

%divider-right {
  border-right: 1px solid darken($dark_blue, 13%);
  @include box-shadow(darken($light_blue, 3%) 1px 0px 0px);
}

%pod {
  background-color: transparent;
  margin: 0 0 $gutter-width;
}

%node-space-right {
  > .node-content {
    margin-right: 10em;

    @include respond(small-medium) {
      margin-right: 0;
    }
  }
}
